<template>
    <div class="row">
        <div class="form-group col-sm-8 offset-sm-2 cols-xs-12 col-md-6 offset-md-3">
            <label for="newQ">Quote</label>
            <textarea id="newQ" class="form-control" rows="3" v-model="quote"></textarea>
        </div>
        <div class="form-group col-sm-8 offset-sm-2 cols-xs-12 col-md-6 offset-md-3">
            <button type="submit" class="btn btn-primary" @click.prevent="createNew">Add Quote</button>
        </div>

        </div>
</template>

<script>
    export default {
        name: "NewQuote",
        data: function () {
            return {
                quote: ''
            }
        },
        methods: {
            createNew() {
                this.$emit('quoteAdded', this.quote);
                this.quote = '';
            }
        }
    }
</script>

<style scoped>

</style>