<template>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="card-body quote">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Quote"
    }
</script>

<style scoped>
    .quote {
        cursor: pointer;
        font-style: italic;
    }
    .quote:hover {
        background-color: #ffe2e2;
    }
</style>