<template>
    <div class="container">
        <app-header :quote-count="quotes.length" :max-quotes="maxQuotes"></app-header>
        <app-new-quote @quoteAdded="newQuote"></app-new-quote>
        <app-quote-grid :quotes="quotes" @quoteDeleted="delQuote"></app-quote-grid>

        <div class="row infobox">
            <div class="col-sm-12 text-center">
                <div class="alert alert-info" role="alert">
                    Info: Click on a Quote to delete it.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import QuoteGrid from  './components/QuoteGrid';
    import NewQuote from './components/NewQuote';
    import Header from './components/Header';

    export default {
        name: 'app',
        data: function () {
            return {
                quotes: ['First simple quote.'],
                maxQuotes: 10
            }
        },
        methods: {
          newQuote(quote) {
              if (this.quotes.length >= this.maxQuotes) {
                  return alert('Maximum number of quotes! Please delete quotes first.');
              }
              this.quotes.push(quote);
          },
            delQuote(index) {
                this.quotes.splice(index, 1);
            }
        },
        components: {
            appQuoteGrid: QuoteGrid,
            appNewQuote: NewQuote,
            appHeader: Header
        }

    }
</script>

<style lang="scss">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
    .infobox {
        margin-top: 1rem;
    }
</style>
